@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    /* font-family: 'Poppins', sans-serif; */
}

.main {
    background-image: url("../assets/img/background-image.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(2000px, 100vw);
    height: 100vh;
    position: relative;
}

.box {
    height: 100vh;
    width: 100%;
    opacity: 0.72;
    background-color: black;
    position: absolute;
    top: 0;
}

nav {
    height: 90px;
    max-width: 78vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav span{
    z-index: 10;
}

nav div{
    display: flex;
    gap: 12px;
    z-index: 10;
}

nav .btn{
    width: 78px;
    height: 34px;
    background-color: #c11119;
    color: white;
    font-family: 'Martel Sans', sans-serif;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
}

nav select {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    background-color: #1801024d;
    color: white;
    width: 124px;
    height: 34px;
    border: 1px solid rgba(228, 214, 214, 0.5);
    border-radius: 5px;
    font-family: 'Martel Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    padding: 0 8px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    text-align: center;
    background-image: url('../assets/svg/dropdownArrow.svg'), url('../assets/svg/lang.svg');
    background-repeat: no-repeat, no-repeat;
    background-position: right 8px center, left 8px center;
    background-size: 16px, 18px;
}

nav select option {
    color: #333;
    background-color: white;
    padding: 10px;
}

nav select::-ms-expand {
    display: none;
}


.hero {
    font-family: 'Martel Sans', sans-serif;
    height: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    padding: 23px;
}

.firstHeading{
    text-align: center;
    font-size: 48px;
    font-weight: bolder;
    max-width: 40vw;
    text-align: center;
    line-height: 1.2;
}

.secondHeading{
    font-size: 20px;
    font-weight: 700;
    padding: 10px;
}

.thirdHeading{
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 400;
}

.emailForm{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px;
}

.emailInput{
    height: 60px;
    width: 370px;
    background-color: rgba(39, 30, 30, 0.363);
    border: 1px solid red;
    border-radius: 5px;
    font-family: 'Martel Sans', sans-serif;
}

.emailInput::placeholder{
    font-family: 'Martel Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: white;
    margin-left: 10px;
    padding: 25px;
}

.emailForm button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Martel Sans', sans-serif;
    font-size: 24px;
    font-weight: 600;
    height: 60px;
    width: 220px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}